@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RUBIK-REGULAR";
  src: url("../src/assets/fonts/calibre/CalibreRegular.otf");
  font-display: block; /* Fix flickering */
}
@font-face {
  font-family: "RUBIK-BOLD";
  src: url("../src/assets/fonts/calibre/CalibreBold.otf");
  font-display: block; /* Fix flickering */
}
@font-face {
  font-family: "RUBIK-LIGHT";
  src: url("../src/assets/fonts/calibre/CalibreLight.otf");
  font-display: block; /* Fix flickering */
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0e1721;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
